<!DOCTYPE html>
<html>
  <head>
    <title>Blahrg</title>
  </head>
  <body>
    <div id='app'>
      {{{content}}}
    </div>

    <script src='http://localhost:8081/js/app.js' defer></script>
  </body>
</html>
