<!DOCTYPE html>
<html>
  <head>
    <title>Blahrg</title>
  </head>
  <body>
    <input type="hidden" value='{{{initialState}}}' id="init-data">
    <div id='app'>{{{content}}}</div>

    <script src='http://localhost:8081/js/app.js' defer></script>
  </body>
</html>
